
.layadmin-trailer
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    display: block;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 300;
    color: #ccc;
}

.box-middle{
    margin: 280px auto;
}

.box-middle .money {
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #f30;
    border-bottom: 1px solid #f1f1f1;
    font-weight: bold;
}

.searchBox{
    float: right;
    min-width: 250px;
}

