{extend name="common:layout" /}
{block name="title"}首页{/block}
{block name="main"}
<div class="wrap" id="app">

    <!-- banner -->
    <div class="mod-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide index-img1">
                    <div class="swiper-text container">
                        <h1 class="fz60">专注建设高端的官网，网者归来</h1>
                        <div class="fz16"><a href="javascript:void(0)" @click="redirectFun('/tbs/product/tbs.html')" class="textLink">TBS介绍</a></div>
                        <div><a href="javascript:void(0)" @click="redirectFun('/tbs/sdk.html')" class="fz22">SDK下载</a></div>
                        <p class="fz16">藤网建站服务，依托JiaCms内核强大的能力，</p>
                        <p class="fz16">致力于提供自由、高端官网的整套解决方案。<a href="javascript:void(0)" @click="redirectFun('/tbs/product/tbs.html')" class="textLink">详细介绍</a></p>
                        <p>
                            <a href="javascript:void(0)" @click="redirectFun('/tbs/guide/sdkInit.html')" class="fz22" style="margin-right: 10px;">建站指南</a>
                            <a href="javascript:void(0)" @click="redirectFun('/tbs/sdk.html')" class="fz22">成为开发者</a>
                        </p>
                    </div>
                </div>
                <!-- <div class="swiper-slide index-img2">
                  <div class="swiper-text container">
                      <h1 class="fz60">腾讯浏览服务</h1>
                  </div>
                </div>
                <div class="swiper-slide index-img3">
                  <div class="swiper-text container">
                      <h1 class="fz60">腾讯浏览服务</h1>
                  </div>
                </div> -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="mod-index-number iconShadow">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mod-number-list">
                    <h4 class="fz60"><span v-html="stats.app"></span><span class="fz34">2000万+</span></h4>
                    <p class="fz16">官网数</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mod-number-list">
                    <h4  class="fz60"><span v-html="stats.uv"></span><span class="fz34">10万+</span></h4>
                    <p class="fz16">开发者</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mod-number-list">
                    <h4  class="fz60"><span v-html="stats.pv"></span><span class="fz34">1亿</span></h4>
                    <p class="fz16">日浏览用户数</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mod-number-list">
                    <h4  class="fz60"><span v-html="stats.cover"></span><span class="fz34">2亿</span></h4>
                    <p class="fz16">日承载浏览量</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mod-index-ability iconShadow">
        <div class="container">
            <h3 class="fz34">领先的技术能力</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mod-ability-list">
                    <a href="#" class="linkblock">
                        <div class="list">
                            <div class="thumbnail">
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </div>
                            <div class="thumbtext">
                                <h4 class="fz22">安全</h4>
                                <p class="text fz16">防劫持 / 热修复 / 防恶意网址</p>
                                <p class="text fz16">高效低成本为移动Web提供E2E安全保障</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mod-ability-list">
                    <a href="#" class="linkblock">
                        <div class="list">
                            <div class="thumbnail">
                                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                            </div>
                            <div class="thumbtext">
                                <h4 class="fz22">模块组件化开发</h4>
                                <p class="text fz16">提升性能 / 消除碎片 / 面向未来 / 完备服务</p>
                                <p class="text fz16">帮助CP零负担全力聚焦业务</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mod-ability-list">
                    <a href="#" class="linkblock">
                        <div class="list">
                            <div class="thumbnail">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            </div>
                            <div class="thumbtext">
                                <h4 class="fz22">自由布局</h4>
                                <p class="text fz16">帮助移动Web提供Native应用离线体验</p>
                            </div>
                        </div>
                </div>
                </a>
            </div>
        </div>
    </div>



    <div class="mod-index-business mod-index-news">
        <div class="container">
            <h3 class="fz34">新闻资讯</h3>
            <a class="box-btn fz22" href="/news.html">查看更多</a>
            <div class="row">
                <a :href="'news.html#/detail/'+art.id" v-for="art in articles">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                        <div class="mod-news-box">
                            <div class="img" v-if="art.pic != ''"><img class="lazy" :src="art.pic"></div>
                            <p class="fz18 title"></p>
                            <p class="fz22 sub-title">{{art.title}}</p>
                            <p class="fz16 detail">{{art.info}}</p>
                        </div>
                    </div>
                </a>
                <a :href="'news.html#/detail/'+art.id" v-for="art in articles">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                        <div class="mod-news-box">
                            <div class="img" v-if="art.pic != ''"><img class="lazy" :src="art.pic"></div>
                            <p class="fz18 title"></p>
                            <p class="fz22 sub-title">{{art.title}}</p>
                            <p class="fz16 detail">{{art.info}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="movie-mask" style="display:none;" v-show="movieFlag" ></div>
    <div class="movie-box" style="display:none;" v-show="movieFlag" >
        <div class="title">{{movieTitle}}</div>
        <a href="javascript:;" id="popWinClose" class="btn-float-close" @click="closeVideo"></a>
        <div class="movie">
            <iframe width="640" height="478" frameborder="0" scrolling="no" :src="movieLink"></iframe>
        </div>
    </div>

    <!-- footer -->
    <footer-panel></footer-panel>

</div>
{/block}