{extend name="common:layout" /}
{block name="title"}首页{/block}
{block name="main"}
<div class="wrap" id="app">

    <!-- banner -->
    <div class="mod-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide index-img1">
                    <div class="swiper-text container">
                        <h1 class="fz60">专注建设高端的官网，网者归来</h1>
                        <div class="fz16"><a href="javascript:void(0)" @click="redirectFun('/tbs/product/tbs.html')" class="textLink">TBS介绍</a></div>
                        <div><a href="javascript:void(0)" @click="redirectFun('/tbs/sdk.html')" class="fz22">SDK下载</a></div>
                        <p class="fz16">藤网建站服务，依托JiaCms内核强大的能力，</p>
                        <p class="fz16">致力于提供自由、高端官网的整套解决方案。<a href="javascript:void(0)" @click="redirectFun('/tbs/product/tbs.html')" class="textLink">详细介绍</a></p>
                        <p>
                            <a href="javascript:void(0)" @click="redirectFun('/tbs/guide/sdkInit.html')" class="fz22" style="margin-right: 10px;">建站指南</a>
                            <a href="javascript:void(0)" @click="redirectFun('/tbs/sdk.html')" class="fz22">成为开发者</a>
                        </p>
                    </div>
                </div>
                <!-- <div class="swiper-slide index-img2">
                  <div class="swiper-text container">
                      <h1 class="fz60">腾讯浏览服务</h1>
                  </div>
                </div>
                <div class="swiper-slide index-img3">
                  <div class="swiper-text container">
                      <h1 class="fz60">腾讯浏览服务</h1>
                  </div>
                </div> -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="mod-index-number iconShadow">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mod-number-list">
                    <h4 class="fz60"><span v-html="stats.app"></span><span class="fz34">2000万+</span></h4>
                    <p class="fz16">官网数</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mod-number-list">
                    <h4  class="fz60"><span v-html="stats.uv"></span><span class="fz34">10万+</span></h4>
                    <p class="fz16">开发者</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mod-number-list">
                    <h4  class="fz60"><span v-html="stats.pv"></span><span class="fz34">1亿</span></h4>
                    <p class="fz16">日浏览用户数</p>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mod-number-list">
                    <h4  class="fz60"><span v-html="stats.cover"></span><span class="fz34">2亿</span></h4>
                    <p class="fz16">日承载浏览量</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mod-index-ability iconShadow">
        <div class="container">
            <h3 class="fz34">领先的技术能力</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mod-ability-list">
                    <a href="#" class="linkblock">
                        <div class="list">
                            <div class="thumbnail">
                                <img class="lazy formatImg" data-src="img/icon6.png" >
                            </div>
                            <div class="thumbtext">
                                <h4 class="fz22">安全</h4>
                                <p class="text fz16">防劫持 / 热修复 / 防恶意网址</p>
                                <p class="text fz16">高效低成本为移动Web提供E2E安全保障</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mod-ability-list">
                    <a href="#" class="linkblock">
                        <div class="list">
                            <div class="thumbnail">
                                <img class="lazy formatImg" data-src="img/icon7.png" >
                            </div>
                            <div class="thumbtext">
                                <h4 class="fz22">模块组件化开发</h4>
                                <p class="text fz16">提升性能 / 消除碎片 / 面向未来 / 完备服务</p>
                                <p class="text fz16">帮助CP零负担全力聚焦业务</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mod-ability-list">
                    <a href="#" class="linkblock">
                        <div class="list">
                            <div class="thumbnail">
                                <img class="lazy formatImg" data-src="img/icon5.png" >
                            </div>
                            <div class="thumbtext">
                                <h4 class="fz22">自由布局</h4>
                                <p class="text fz16">帮助移动Web提供Native应用离线体验</p>
                            </div>
                        </div>
                </div>
                </a>
            </div>
        </div>
    </div>

    <div class="mod-index-ability mod-index-base iconShadow">
        <div class="container">
            <h3 class="fz34">丰富的基础能力</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mod-ability-list">
                    <a href="product/file.html" class="linkblock">
                        <div class="list">
                            <div class="thumbnail">
                                <img class="lazy formatImg" data-src="img/icon1.png" >
                            </div>
                            <div class="thumbtext">
                                <h4 class="fz22">文件能力</h4>
                                <p class="text fz16">支持Office文档等46种格式</p>
                                <p class="text fz16">更有高效、智能的文件管理服务</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mod-ability-list">
                    <a href="product/video.html" class="linkblock">
                        <div class="list">
                            <div class="thumbnail">
                                <img class="lazy formatImg" data-src="img/icon2.png">
                            </div>
                            <div class="thumbtext">
                                <h4 class="fz22">视频能力</h4>
                                <p class="text fz16">硬件解码 / 低系统资源消耗 / 播放更顺畅</p>
                                <p class="text fz16">主流的点播/直播视频格式、协议支持</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mod-ability-list">
                    <a href="product/download.html" class="linkblock">
                        <div class="list">
                            <div class="thumbnail">
                                <img class="lazy formatImg" data-src="img/icon8.png" >
                            </div>
                            <div class="thumbtext">
                                <h4 class="fz22">下载能力</h4>
                                <p class="text fz16">内嵌下载能力，无需调用其他下载资源</p>
                                <p class="text fz16">减少劫持换包风险</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="mod-index-business">
        <div class="container">
            <h3 class="fz34">强大的业务能力</h3>
            <div class="mod-business-tab">
                <ul class="fz24 clearfix">
                    <li class="active"><a href="javascript:;">大数据</a></li>
                    <li><a href="javascript:;">内容变现</a></li>
                </ul>
            </div>
            <div class="mod-business-box">
                <div class="box row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                        <h4 class="fz34">大数据</h4>
                        <p class="fz16">了解移动互联网热点<br>洞察热点背后用户需求<br>提升商业效率</p>
                        <a class="box-btn fz22" href="product/tbi.html">查看更多</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                        <img class="formatImg" data-src="img/index-business-img1.png" >
                    </div>
                </div>
                <div class="box row mod-hide">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                        <h4 class="fz34">内容变现</h4>
                        <p class="text fz16">内容定制，页面灵活<br>轻松接入，随时调配<br>快速享受内容与商业变现一体化</p>
                        <a class="box-btn fz22" href="product/portal.html">查看更多</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                        <img class="formatImg" data-src="img/index-business-img2.png">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="mod-index-business mod-index-news">
        <div class="container">
            <h3 class="fz34">相关新闻资讯</h3>
            <a class="box-btn fz22" href="news.html">查看更多</a>
            <div class="row">
                <a :href="'news.html#/detail/'+art.id" v-for="art in articles">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                        <div class="mod-news-box">
                            <div class="img" v-if="art.pic != ''"><img class="lazy" :src="art.pic"></div>
                            <p class="fz18 title"></p>
                            <p class="fz22 sub-title">{{art.title}}</p>
                            <p class="fz16 detail">{{art.info}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="movie-mask" style="display:none;" v-show="movieFlag" ></div>
    <div class="movie-box" style="display:none;" v-show="movieFlag" >
        <div class="title">{{movieTitle}}</div>
        <a href="javascript:;" id="popWinClose" class="btn-float-close" @click="closeVideo"></a>
        <div class="movie">
            <iframe width="640" height="478" frameborder="0" scrolling="no" :src="movieLink"></iframe>
        </div>
    </div>

    <!-- footer -->
    <footer-panel></footer-panel>

</div>
{/block}