
{extend name="common:base" /}
{block name="title"}我的战点{/block}
{block name="main"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <form class="layui-form" action="">

                <div class="layui-tab">
                    <ul class="layui-tab-title">
                      <li class="layui-this">网站设置</li>
                      <li>主色调和字体</li>
                      <li>管理员管理</li>
                    </ul>
                    <div class="layui-tab-content">
                      <div class="layui-tab-item layui-show">
                          <div class="layui-form-item">
                              <label class="layui-form-label">网站名称</label>
                              <div class="layui-input-block">
                                <input type="text" name="site_name" required="" lay-verify="required" placeholder="请输入网站名称" autocomplete="off" class="layui-input">
                              </div>
                            </div>
                            <div class="layui-form-item">
                              <label class="layui-form-label">网站LOGO</label>
                              <div class="layui-input-block">
                                <input type="text" name="site_logo" required="" lay-verify="required" placeholder="请输入网站名称" autocomplete="off" class="layui-input">
                              </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">状态</label>
                                <div class="layui-input-block">
                                  <input type="checkbox" name="switch" lay-skin="switch" checked lay-text="ON|OFF" lay-filter="switchTest" value="1"><div class="layui-unselect layui-form-switch" lay-skin="_switch"><em>OFF</em><i></i></div>
                                </div>
                              </div>
                      </div>
                      <div class="layui-tab-item">
                        <div class="layui-form-item">
                          <label class="layui-form-label">文字主色调</label>
                          <div class="layui-input-block">
                            <input type="text" name="title" required="" lay-verify="required" placeholder="请输入主色调" autocomplete="off" class="layui-input" value="#333">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">文字次色调</label>
                          <div class="layui-input-block">
                            <input type="text" name="title" required="" lay-verify="required" placeholder="请输入次色调" autocomplete="off" class="layui-input" value="#666">
                          </div>
                      </div>

                      <div class="layui-form-item">
                          <label class="layui-form-label">文字淡色调</label>
                          <div class="layui-input-block">
                            <input type="text" name="title" required="" lay-verify="required" placeholder="请输入淡色调" autocomplete="off" class="layui-input" value="#999">
                          </div>
                      </div>

                      <div class="layui-form-item">
                        <label class="layui-form-label">文字最大字体</label>
                        <div class="layui-input-block">
                          <input type="text" name="font_max" required="" lay-verify="required" placeholder="请输入文字最大字体" autocomplete="off" class="layui-input" value="20">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">文字常规字体</label>
                        <div class="layui-input-block">
                          <input type="text" name="font_mid" required="" lay-verify="required" placeholder="请文字常规字体" autocomplete="off" class="layui-input" value="14">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">文字最小字体</label>
                        <div class="layui-input-block">
                          <input type="text" name="font_small" required="" lay-verify="required" placeholder="请输入文字最小字体" autocomplete="off" class="layui-input" value="#999">
                        </div>
                    </div>
                      </div>
                      <div class="layui-tab-item">
                          <div class="layui-form-item">
                              <label class="layui-form-label">管理员账号</label>
                              <div class="layui-input-block">
                                <input type="text" name="title" required="" lay-verify="required" placeholder="请输入管理员账号" autocomplete="off" class="layui-input">
                              </div>
                            </div>
                          <div class="layui-form-item">
                            <label class="layui-form-label">管理密码</label>
                            <div class="layui-input-inline">
                              <input type="password" name="password" required="" lay-verify="required" lay-vertype="tips" placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">输入管理员密码</div>
                          </div>
                      </div>
                      
                      
                    </div>
                    

                  </div>
                
               
                <div class="layui-form-item">
                  <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="formDemo">立即提交</button>
                
                  </div>
                </div>
              </form>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__ROOT__dist/sites/post.js"></script>
{/block}