{extend name="common:base" /}
{block name="title"}我的站点{/block}
{block name="main"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">

        <div class="layui-card">
            <div class="layui-card-header">我的网站</div>
            <div class="layui-card-body t-sites layui-col-space15" style="background-color: #F8F8F8;">
                <div class="layui-col-md4 layui-col-sm6">
                    <div class="layui-card">
                        <div class="layui-card-header">我的网站</div>
                        <div class="layui-card-body">
                          <div class="layadmin-shortcut">
                            <div>
                              <ul class="layui-row layui-col-space10">
                                <li class="layui-col-xs3">
                                  <a href="component/layer/list.html">
                                    <i class="layui-icon layui-icon-website"></i>
                                    <cite>后台</cite>
                                  </a>
                                </li>
                                <li class="layui-col-xs3">
                                  <a href="component/button/index.html">
                                    <i class="layui-icon layui-icon-find-fill"></i>
                                    <cite>栏目</cite>
                                  </a>
                                </li>
                                <li class="layui-col-xs3">
                                  <a href="component/progress/index.html">
                                    <i class="layui-icon layui-icon-loading-2"></i>
                                    <cite>模板</cite>
                                  </a>
                                </li>
                                <li class="layui-col-xs3">
                                  <a layadmin-event="im">
                                    <i class="layui-icon layui-icon-chat"></i>
                                    <cite>费用</cite>
                                  </a>
                                </li>
                                <li class="layui-col-xs3">
                                  <a lay-href="component/panel/index.html">
                                    <i class="layui-icon layui-icon-read"></i>
                                    <cite>域名</cite>
                                  </a>
                                </li>
                                <li class="layui-col-xs3">
                                  <a lay-href="component/badge/index.html">
                                    <i class="layui-icon layui-icon-tree"></i>
                                    <cite>设置</cite>
                                  </a>
                                </li>
                                <li class="layui-col-xs3">
                                  <a lay-href="set/system/website.html">
                                    <i class="layui-icon layui-icon-set"></i>
                                    <cite>配置</cite>
                                  </a>
                                </li>
                                <li class="layui-col-xs3">
                                  <a lay-href="set/user/password.html">
                                    <i class="layui-icon layui-icon-password"></i>
                                    <cite>浏览</cite>
                                  </a>
                                </li>
                              </ul>
                            </div>
                        </div>
                      </div>
                
                </div>
                </div>
                <div class="layui-col-md4 layui-col-sm6">
                        <div class="layui-card">
                            <div class="layui-card-header">毛催官网</div>
                            <div class="layui-card-body">
                              <div class="layadmin-shortcut">
                                <div>
                                  <ul class="layui-row layui-col-space10">
                                    <li class="layui-col-xs3">
                                      <a href="component/layer/list.html">
                                        <i class="layui-icon layui-icon-website"></i>
                                        <cite>后台</cite>
                                      </a>
                                    </li>
                                    <li class="layui-col-xs3">
                                      <a href="component/button/index.html">
                                        <i class="layui-icon layui-icon-find-fill"></i>
                                        <cite>栏目</cite>
                                      </a>
                                    </li>
                                    <li class="layui-col-xs3">
                                      <a href="component/progress/index.html">
                                        <i class="layui-icon layui-icon-loading-2"></i>
                                        <cite>模板</cite>
                                      </a>
                                    </li>
                                    <li class="layui-col-xs3">
                                      <a layadmin-event="im">
                                        <i class="layui-icon layui-icon-chat"></i>
                                        <cite>费用</cite>
                                      </a>
                                    </li>
                                    <li class="layui-col-xs3">
                                      <a lay-href="component/panel/index.html">
                                        <i class="layui-icon layui-icon-read"></i>
                                        <cite>面板</cite>
                                      </a>
                                    </li>
                                    <li class="layui-col-xs3">
                                      <a lay-href="component/badge/index.html">
                                        <i class="layui-icon layui-icon-tree"></i>
                                        <cite>徽章</cite>
                                      </a>
                                    </li>
                                    <li class="layui-col-xs3">
                                      <a lay-href="set/system/website.html">
                                        <i class="layui-icon layui-icon-set"></i>
                                        <cite>设置</cite>
                                      </a>
                                    </li>
                                    <li class="layui-col-xs3">
                                      <a lay-href="set/user/password.html">
                                        <i class="layui-icon layui-icon-password"></i>
                                        <cite>状态（）</cite>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                            </div>
                          </div>
            
                    </div>
            
                </div>

                <div class="clearfix" style="clear: both"></div>
              
          </div>
    
    </div>
       
</div>
{/block}