{extend name="common:base" /}
{block name="title"}我的余额{/block}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin.css">
{/block}
{block name="main"}
<div class="layadmin-trailer">
    <div class="box-middle">
        <div class="money">收益￥{$balance}</div>
        <div class="button-group">
            <a href="" class="layui-btn  layui-btn-normal">充值</a><a href=""  class="layui-btn layui-btn-warm">提现</a><a href=""  class="layui-btn layui-btn-danger">明细</a>
        </div>
    </div>
</div>
{/block}